:root{
    --submitcolor:hsl(10, 79%, 65%);
    --bodycolor:hsl(27, 66%, 92%);
}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Kumbh Sans', sans-serif;
}

body{
    background-color: var(--bodycolor)
}

main{
    margin: auto;
    width: auto;
    height: auto;
}

.balance{
    display: flex;
    flex-flow: column wrap;
    background-color: var(--submitcolor);
    padding: 10px;
    gap:10px;
    color: aliceblue;
    height: 80px;
}
.balance img{
    margin-top: 20px;
    align-self: flex-end;
    width: 60px;
    height: auto;
    cursor: pointer;
}

.balance p:first-child{
    font-size: 15px;
}

.balance input{
    font-weight: 700;
    font-size: 30px;
    background-color: var(--submitcolor);
    border: none;
    color: aliceblue;
    width: 120px;
}

.balance input:focus, #total:focus{
  
    outline: none;
}


.math{
    background-color: aliceblue;
    margin-top: 40px;
}

.balance, .math{
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}

.diagram{
    
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
    
  
}

.slupek{
    width: 40px;
    height: 250px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
   
}


#spup0, #spup1, #spup2, #spup3, #spup4, #spup5, #spup6{  
    background-color:hsl(10, 79%, 65%);
    width: 20px;
    height: 50px;
    border-radius: 5px;
    margin-top: 10px;
    
}
#spup0:hover, #spup2:hover, #spup3:hover, #spup4:hover, #spup5:hover, #spup6:hover, #spup1:hover{
    background-color: hsl(27, 66%, 92%) !important;
    cursor: pointer;
    
}
#spup0:hover + #num0, #spup1:hover + #num1, #spup2:hover + #num2, #spup3:hover + #num3, #spup4:hover + #num4, #spup5:hover + #num5, #spup6:hover + #num6 {
    display: block;
}


#spup2{
    height: 200px;
}
.number{
    text-align: center;
    width: 50px;
    background-color: black;
    color: white;
    border: black;
    padding: 5px;
    border-radius: 5px;
}

.diagram p{
    text-align: center;
    margin-top:5px
}


.sum{
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.total, .percent{
    display: flex;
    flex-direction: column;
}

.percent{
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: flex-end;    
}
.percent p{
    text-align: right;
}

.total p, .percent p{
    color: hsl(0, 0%, 59%);
}
#percent{
    width: 50px;
    align-self: flex-end;
    background-color: aliceblue;
    text-align: right;
    border: none;
}
#percent:focus{
    outline: none;
}

.spending{
    font-size: 25px;
    font-weight: 700;
}

#total{
    width: 150px;
    font-size: 40px;
    font-weight: 700;
    border: none;
    background-color: aliceblue;
}



#settings{
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position:absolute;
    margin: 2% 20%;
    height: 380px;
    width: auto;
    background-color:var(--bodycolor);
    
}

.settingInput{
    text-align: center;
    color: aliceblue;
    background-color: black;
    border-radius: 4px;
    width: 140px;
    height: 30px;
}

#submit{
    background-color: var(--submitcolor);
    border: var(--submitcolor);
    height: 50px;
    width: 80px;
    margin-top: 20px;
    border-radius: 5px;
    transition:0.3s;
    
}
#submit:hover{
    cursor: pointer;
    opacity:0.6;
    transition:0.3s;
}

@media(min-width:400px){
#spup0, #spup1, #spup2, #spup3, #spup4, #spup5, #spup6{
width: 40px;
}


main{
margin-top: 10%;
max-width: 600px;
}

#settings{
    margin: 5px 20%;
    width: 300px;
    
}

}

@media(min-width:800px){
    #settings{
        margin: 5px 8%;
        
    }

}
